body{
    color: gray;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: flex-end; /* Joga todos os itens para o final (direita) */
    gap: 30px; /* Define o espaço entre cada link */
    list-style-type: none;
    align-items: center; /* 'center' costuma alinhar melhor o texto verticalmente do que 'flex-end' */
    padding: 24px;
    margin: 0; /* É uma boa prática zerar a margem padrão da tag ul */
}

a {
    color: gray;
    text-decoration: none;
}

h1{
    color: black;
    
}

header {
    display: flex;
    flex-direction: column;
    max-width: 900px;        /* limita a largura do bloco */
    margin: 0 auto;          /* centraliza o bloco na página */
    padding: 40px 20px;      /* espaçamento interno */
}

