<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTC-ESTUDOS</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="login-box">
        <img src="imagens/logo-puc-rio.png" width="60px">
        <h2>Entrar no CTC Estudos</h2>
        <p>Use sua matrícula da PUC-Rio para acessar</p>

        <div class="campo">
            <label>Matrícula</label>
            <input type="text" placeholder="Ex: 2310000" required>
        </div>

        <div class="campo">
            <label>Senha</label>
            <input type="password" placeholder="••••••••" required>
        </div>

        <a href="index.html" class="btn-entrar">Entrar</a>
    </div>
</body>


</html>