{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UFT-8">
    <title>Disciplinas</title>
    <link rel="stylesheet" href = "{% static 'disciplinas.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>


    <div class="container">
        <div class="navbar">
            <div class = logo>
                <img src = "{% static 'site-logo.png' %}" width = "60px">
                <h2>CTC estudos</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/disciplinas/">Disciplinas</a></li>
            <li><a href="/turmas/">Minhas Turmas</a></li>
                    <li><a href="/flashcards/">Flashcards</a></li>
                    <li><a href="/duvidas/">Central de dúvidas</a></li>
                    <li><a href="/chat/">Chat</a></li>
                    <li><a href="/cadastro/" class = "btn">Entrar</a></li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <div class="col-2">
                <h1>Disciplinas</h1>
                <p>Encontre materiais e recursos para suas disciplinas do CTC.</p>
                <div style="display: flex; gap: 10px; flex-wrap: wrap; margin-bottom: 20px;">
                    <a href="{% url 'form_turma' %}" class="btn">Criar Turma</a>
                    <a href="{% url 'form_sessao_estudo' %}" class="btn">Criar Sessão de Estudo</a>
                    <a href="{% url 'form_disciplina' %}" class="btn">Criar Disciplina</a>
                    <a href="{% url 'form_inscricao' %}" class="btn">Inscrever-se em uma Turma</a>
                </div>
            </div>
        </div>
    </div>

    <div class="disciplinas">
        <!-- Disciplinas Fixas (Hardcoded) -->
        <div class="row">
            <div class="col-3">
                <button class="btn1" onclick="document.location='/disciplinas/programacao/'"><div class="codigo"><b>INF1007</b></div><h3>Programação II</h3><br><p style = "color:#747474;"> Informática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/estrutura_de_dados/'"><div class="codigo"><b>INF1631</b></div><h3>Estrutura de dados</h3><br><p style = "color:#747474;"> Informática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/estrutura_de_dados_avancada/'"><div class="codigo"><b>INF1010</b></div><h3>Estrutura de dados avançada</h3><br><p style = "color:#747474;"> Informática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
            </div>
            <div class="col-3">
                <button class="btn1" onclick="document.location='/disciplinas/fisica_II/'"><div class="codigo"><b>FIS1034</b></div><h3>Física II</h3><br><p style = "color:#747474;"> Física</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/programacao_o_o/'"><div class="codigo"><b>INF1636</b></div><h3>Programação orientada a objetos</h3><br><p style = "color:#747474;"> Informática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/algebra_linear/'"><div class="codigo"><b>ENG1419</b></div><h3>Álgebra Linear</h3><br><p style = "color:#747474;"> Matemática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
            </div>
            <div class="col-3">
                <button class="btn1" onclick="document.location='/disciplinas/software_basico/'"><div class="codigo"><b>INF1018</b></div><h3>Software Básico</h3><br><p style = "color:#747474;"> Informática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/programacao_modular/'"><div class="codigo"><b>INF1031</b></div><h3>Programação modular</h3><br><p style = "color:#747474;"> Informática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/circuitos_eletricos/'"><div class="codigo"><b>ELE161</b></div><h3>Circuitos elétricos I</h3><br><p style = "color:#747474;"> Engenharia</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
            </div>
            <div class="col-3">
                <button class="btn1" onclick="document.location='/disciplinas/calculo_I/'"><div class="codigo"><b>MAT1161</b></div><h3>Cálculo I</h3><br><p style = "color:#747474;"> Matemática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/calculo_II/'"><div class="codigo"><b>MAT1162</b></div><h3>Cálculo II</h3><br><p style = "color:#747474;"> Matemática</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
                <button class="btn1" onclick="document.location='/disciplinas/fisica_I/'"><div class="codigo"><b>FIS1033</b></div><h3>Física I</h3><br><p style = "color:#747474;"> Física</p><br><p style ="color:#3ea5ef;">Ver conteúdos &#8594;</p></button>
            </div>
        </div>

        <!-- Disciplinas Dinâmicas (Criadas pelo usuário e salvas no BD) -->
        {% if disciplina %}
        <h2 style="margin-top: 40px; margin-bottom: 20px; padding-left: 20px; color: #374151;">Disciplinas Adicionadas</h2>
        <div class="row" style="flex-wrap: wrap;">
            {% for d in disciplina %}
            <div class="col-3" style="min-width: 300px; margin-bottom: 20px;">
                <button class="btn1" onclick="document.location='/disciplinas/{{ d.nome|slugify }}/'">
                    <div class="codigo"><b>{{ d.codigo }}</b></div>
                    <h3>{{ d.nome }}</h3><br>
                    <p style="color:#747474;"> {{ d.departamento }}</p><br>
                    <p style="color:#3ea5ef;">Ver conteúdos &#8594;</p>
                </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
   

</body>
</html>