{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UFT-8">
    <title>Programacao</title>
    <link rel="stylesheet" href="{% static 'programacao.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>


    <div class="container">
        <div class="navbar">
            <div class = logo>
                <img src="{% static 'site-logo.png' %}"width = "60px">
                <h2>CTC estudos</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/disciplinas/">Disciplinas</a></li>
            <li><a href="/turmas/">Minhas Turmas</a></li>
                    <li><a href="/flashcards/">Flashcards</a></li>
                    <li><a href="/duvidas/">Central de dúvidas</a></li>
                    <li><a href="/chat/">Chat</a></li>
                    <li><a href="/cadastro/" class="btn">Entrar</a></li>
                </ul>
            </nav>
        </div>
            <div class="col">
                <button class="btn1" onclick="document.location='/disciplinas/'">&#8592 Voltar para disciplinas</button>
                
                    <h5>FIS1034 2º período · Física/h5>
                    <h1>Física II</h1>
                    <p>Gravitação, oscilações, ondas, termodinâmica e fluidos.</p>
                <a href="{% url 'form_topico' %}" class="btn" style="margin: 10px 0; display: inline-block;">Adicionar um tópico</a>
                <div class="col-1"></div>
                    <button class="btn2" onclick="document.location='movimento_harmonico.html'">Movimento Harmônico Simples</button>
                <div class="col-1"></div>    
                    <button class="btn2" onclick="document.location='termodinamica.html'">Lista 1- Termodinâmica</button>
                <div class="col-1"></div>    
                    <button class="btn2" onclick="document.location='ondas_mecanicas.html'">Aula: Ondas Mecânicas</button>
        </div>
    </div>
</body>
</html>