{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UFT-8">
    <title>Programacao</title>
    <link rel="stylesheet" href="{% static 'programacao.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>


    <div class="container">
        <div class="navbar">
            <div class = logo>
                <img src="{% static 'site-logo.png' %}"width = "60px">
                <h2>CTC estudos</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/disciplinas/">Disciplinas</a></li>
            <li><a href="/turmas/">Minhas Turmas</a></li>
                    <li><a href="/flashcards/">Flashcards</a></li>
                    <li><a href="/duvidas/">Central de dúvidas</a></li>
                    <li><a href="/chat/">Chat</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/logout/" class="btn">Sair</a></li>
                {% else %}
                    <li><a href="/login/" class="btn">Entrar</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
        <div class=""row>
            <div class="col"></div>
                <button class="btn1" onclick="document.location='/disciplinas/'"> &#8592 Voltar para disciplinas</button>
            <div class="col"></div>    
                <button class="btn1" onclick="document.location='programacao.html'"> &#8592 Voltar para materiais</button>
    </div>
        <div style="margin: 20px 0;"><input type="file" id="file_input" style="display: none;"><button class="btn" onclick="document.getElementById('file_input').click()">Adicionar conteúdo</button></div>
    Manipulação de Arquivos em C

    <br>A manipulação de arquivos em C utiliza a biblioteca <stdio.h> e o tipo FILE*.
    
        <br>Funções principais:
    
        <br>• fopen(nome, modo): abre arquivo ('r' leitura, 'w' escrita, 'a' append)
    
        <br>• fclose(fp): fecha arquivo
    
        <br>• fprintf/fscanf: escrita/leitura formatada
    
        <br>• fgets/fputs: leitura/escrita de strings
    
        <br>• fread/fwrite: leitura/escrita binária
    
        <br>Modos de abertura:
    
        <br>• "r": leitura (arquivo deve existir)
    
        <br>• "w": escrita (cria ou sobrescreve)
    
        <br>• "a": append (adiciona ao final)
    
        <br>• "rb"/"wb": modo binário
    
        <br>Exemplo:
    
        <br>FILE *fp = fopen("dados.txt", "w");
    
        <br>if (fp == NULL) { printf("Erro"); return 1; }
    
        <br>rintf(fp, "Olá, arquivo!\n");
    
        <br>fclose(fp);
</body>
</html>