{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UFT-8">
    <title>Programacao</title>
    <link rel="stylesheet" href="{% static 'programacao.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>


    <div class="container">
        <div class="navbar">
            <div class = logo>
                <img src="{% static 'site-logo.png' %}"width = "60px">
                <h2>CTC estudos</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/disciplinas/">Disciplinas</a></li>
            <li><a href="/turmas/">Minhas Turmas</a></li>
                    <li><a href="/flashcards/">Flashcards</a></li>
                    <li><a href="/duvidas/">Central de dúvidas</a></li>
                    <li><a href="/chat/">Chat</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/logout/" class="btn">Sair</a></li>
                {% else %}
                    <li><a href="/login/" class="btn">Entrar</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
        <div class=""row>
            <div class="col"></div>
                <button class="btn1" onclick="document.location='/disciplinas/'"> &#8592 Voltar para disciplinas</button>
            <div class="col"></div>    
                <button class="btn1" onclick="document.location='programacao.html'"> &#8592 Voltar para materiais</button>
    </div>
        <div style="margin: 20px 0;"><input type="file" id="file_input" style="display: none;"><button class="btn" onclick="document.getElementById('file_input').click()">Adicionar conteúdo</button></div>
    Lista 2 — Structs

<br>Exercício 1: Defina uma struct Aluno com campos: nome (string), matrícula (int) e CR (float). Crie funções para ler e imprimir dados de um aluno.

<br>Exercício 2: Usando a struct Aluno, crie um programa que mantém um cadastro dinâmico de alunos com operações de inserir, buscar por matrícula e remover.

<br>Exercício 3: Defina uma struct Ponto2D e implemente funções para calcular distância entre dois pontos e verificar se três pontos formam um triângulo.

<br>Exercício 4: Crie uma struct Data (dia, mês, ano) e implemente uma função que calcula a diferença em dias entre duas datas.
</body>
</html>