{% extends "base.html" %}
{% load static %}

{% block title %}Disciplinas{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/disciplinas.css' %}">
<style>
    .alerta-cadastro-sucesso {
        background-color: #d4edda;
        color: #3ea5ef;
        border: 1px solid white;
        padding: 15px;
        margin-bottom: 20px;
        border-radius: 8px;
        font-weight: 500;
    }
</style>
{% endblock %}

{% block content %}
    {% if mostrar_mensagem_cadastro %}
        <div class="alerta-cadastro-sucesso">
            <i class="fa-solid fa-circle-check"></i> Cadastro realizado com sucesso! Bem-vindo(a).
        </div>
    {% endif %}
    <div class="titulo">
        <div>
            <h1>Disciplinas</h1>
            <p>Encontre materiais e recursos para suas disciplinas do CTC</p>
        </div>
        
        <div style="display: flex; gap: 12px; align-items: center;">
            
            <a href="{% url 'disciplina_detalhe' %}" class="btn-buscar">
                <i class="fa-solid fa-magnifying-glass"></i> Buscar
            </a>

            {% if user.is_superuser %}
            <a href="{% url 'form_disciplina' %}" class="btn-add">+ Adicionar Disciplina</a>
            {% endif %}
            
        </div>

    </div>
    
    

    <div class="disciplinas">
        <div class="row">
            {% for disciplina in disciplinas %}
            <button class="btn1" onclick="location.href='{% url 'informacao_disciplina' nome=disciplina.nome %}'">
                <div class="card-top">
                    <span class="codigo">{{ disciplina.codigo }}</span>
                </div>
                <h3>{{ disciplina.nome }}</h3>
                <p class="desc">{{ disciplina.descricao }}</p>
                <p class="ver">Ver conteúdos →</p>
                <div class="card-actions">
                    <a href="{% url 'form_inscricao' %}" class="btn-publicar" style="text-decoration: none; display: inline-block; margin-bottom: 20px;">
                        <span class="plus-icon"></span> Inscrever-se em uma Turma
                    </a>

                    {% if disciplina.id in ids_disciplinas_monitoradas or user.is_superuser %}
                        <a href="{% url 'update_disciplina' id=disciplina.id %}" class="edit-link" onclick="event.stopPropagation()">Editar</a>
                    {% endif %}
                    
                    {% if user.is_superuser %}
                        <a href="{% url 'delete_disciplina' id=disciplina.id %}" class="delete-link" onclick="event.stopPropagation()">Deletar</a>
                    {% endif %}
                </div>
            </button>
            {% endfor %}
        </div>
    </div>
{% endblock %}
