{% extends 'base.html' %}
{% load static %}

{% block title %}Login - CTC Estudos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <img src="{% static 'img/logo-puc-rio.png' %}">
        <h2>Acessar Plataforma</h2>
        <p>Insira sua matrícula e senha cadastradas para entrar.</p>

        {% if messages %}
            {% for message in messages %}
                <div class="error-msg show">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            
            <p>
                <label for="id_username">Username:</label>
                <input type="text" name="username" id="id_username" placeholder="Matrícula" required>
            </p>
            
            <p>
                <label for="id_password">Password:</label>
                <input type="password" name="password" id="id_password" placeholder="Senha" required>
            </p>

            <button type="submit" class="btn-entrar">Entrar</button>
        </form>

        <p class="cadastro-link">Não tem uma conta? <a href="/cadastro/">Cadastre-se aqui</a></p>
    </div>
</div>
{% endblock %}