{% extends "base.html" %}
{% load static %}

{% block title %}Adicionar Material{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cadastro.css' %}"> {# Reutilizando o seu CSS de formulários #}
{% endblock %}

{% block content %}
<div class="cadastro-wrapper">
    <div class="cadastro-box">
        <div class="page-header">
            <h1>Adicionar Novo Material</h1>
            <p class="subtitle">Insira as informações do conteúdo ou faça o upload de listas de exercícios.</p>
        </div>

        {% if messages %}
            {% for message in messages %}
                <div class="alert-msg alert-error show">{{ message }}</div>
            {% endfor %}
        {% endif %}


        <form method="POST" enctype="multipart/form-data" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Disponibilizar Material</button>
        </form>
    </div>
</div>
{% endblock %}