{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro de Turma - CTC Estudos{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}">
{% endblock %}

{% block content %}
<div class="login-wrapper">
    <div class="login-box">
        <h2>Cadastro de Turma</h2>
        <p>Vincule uma disciplina a um professor e horário.</p>

        {% if messages %}
            {% for message in messages %}
                <div class="error-msg show">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn-entrar">Abrir Turma</button>
        </form>
    </div>
</div>
{% endblock %}