{% extends "base.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/monitoria.css' %}">

<div class="main-container">
    <h1>Cadastrar Nova Monitoria</h1>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-publicar">Salvar Monitoria</button>
    </form>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const checkboxOnline = document.querySelector('input[name="online"]');
        const inputSala = document.querySelector('input[name="sala"]');
        const inputLink = document.querySelector('input[name="link_reuniao"]');

        function alternarCampos() {
            if (!checkboxOnline || !inputSala || !inputLink) return;

            const campoSala = inputSala.closest('p');
            const campoLink = inputLink.closest('p');

            if (checkboxOnline.checked) {
                
                campoSala.style.display = 'none';
                campoLink.style.display = 'flex';
            } else {
                
                campoSala.style.display = 'flex';
                campoLink.style.display = 'none';
            }
        }

        if (checkboxOnline) {
            checkboxOnline.addEventListener('change', alternarCampos);
            alternarCampos(); 
        }
    });
</script>
{% endblock %}