{% extends "base.html" %}
{% load static %}


{% block title %}Perfil{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}
<div class="perfil-page">
    <section class="perfil-header">
        <h1>Perfil</h1>
        <p>Veja suas informações cadastradas no CTC Estudos.</p>
    </section>

    <section class="perfil-card">
        <div class="perfil-info">
            
            <div class="dado">
                <label>Nome:</label>
                    {{ user.nome }}
            </div>

            <div class="dado">
                <label>Matrícula:</label>
                    {{ user.matricula }}
            </div>

            <div class="dado">
                <label>Turma:</label>
                {% for turma in user.turmas_inscritas.all %}
                    {{ turma }}{% if not forloop.last %}, {% endif %}
                {% empty %}
                    Nenhuma turma inscrita
                {% endfor %}
            </div>

            <div class="dado">
                <label>E-mail:</label>
                    {{ user.email }}
            </div>

              <div class="dado">
                <label>Data de nascimento:</label>
                    {{ user.data_nasc|default:"Não informada"|date:"d/m/Y" }}
            </div>
        
        </div>
    </section>
</div>
{% endblock %}