{% load static %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UFT-8">
    <title>Programacao</title>
    <link rel="stylesheet" href="{% static 'programacao.css' %}">
    <link rel="stylesheet" href = "..\..\static\css\materias.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>


    <div class="container">
        <div class="navbar">
            <div class = logo>
                <img src="{% static 'site-logo.png' %}"width = "60px">
                <h2>CTC estudos</h2>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="/disciplinas/">Disciplinas</a></li>
            <li><a href="/turmas/">Minhas Turmas</a></li>
                    <li><a href="/flashcards/">Flashcards</a></li>
                    <li><a href="/duvidas/">Central de dúvidas</a></li>
                    <li><a href="/chat/">Chat</a></li>
                    {% if request.user.is_authenticated %}
                    <li><a href="/logout/" class="btn">Sair</a></li>
                {% else %}
                    <li><a href="/login/" class="btn">Entrar</a></li>
                {% endif %}
                </ul>
            </nav>
    <nav>
        <div class="logo">
            <img src="site-logo.png" width="60px">
            <h2 class="logo-nome">CTC estudos</h2>
        </div>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="disciplinas.html" class="active">Disciplina</a></li>
            <li><a href="../flashcards.html">Flashcards</a></li>
            <li><a href="../duvidas.html">Central de Dúvidas</a></li>
            <li><a href="../chat.html">Chat</a></li>
        </ul>
    </nav>
    <hr class="divider">

    <div class="container">
            <div class="col">
                <button class="btn1" onclick="document.location='/disciplinas/'">&#8592 Voltar para disciplinas</button>
                
                    <h5>INF1301 4º período · Informática</h5>
                    <h1>Programação Modular</h1>
                    <p>Modularização, TADs, testes automatizados e documentação de software em C.</p>
                <a href="{% url 'form_topico' %}" class="btn" style="margin: 10px 0; display: inline-block;">Adicionar um tópico</a>
                <div class="col-1"></div>
                    <button class="btn2" onclick="document.location='tipos_abstratos.html'">Tipos abstratos de dados</button>
                <div class="col-1"></div>    
                    <button class="btn2" onclick="document.location='modulos.html'">Lista 1- módulos em C</button>
                <div class="col-1"></div>    
                    <button class="btn2" onclick="document.location='arcabouco.html'">Aula: Testes com Arcabouço</button>
        </div>
    </div>
</body>
</html>